{{define "content"}}
  <form action="/admin/save" method="POST">
    {{if .project.ID}}
    <input type="hidden" name="id" value="{{.project.ID}}">
    {{end}}
    <div class="flex flex-col mb-4">
      <label for="type" class="mb-2 font-bold text-lg">源码来源</label>
      <select required value="{{.project.Type}}" name="type" class="border py-2 px-3">
        <option value="codeup">云效CodeUp</option>
      </select>
    </div>
    <div class="flex flex-col mb-4">
      <label for="name" class="mb-2 font-bold text-lg">应用名称</label>
      <input required name="name" value="{{.project.Name}}" type="text" class="border py-2 px-3">
    </div>
    <div class="flex flex-col mb-4">
      <label for="token" class="mb-2 font-bold text-lg">Secret Token</label>
      <input name="token" value="{{.project.Token}}" type="text" class="border py-2 px-3">
    </div>
    <div class="flex flex-col mb-4">
      <label for="testScript" class="mb-2 font-bold text-lg">测试脚本</label>
      <input placeholder="yarn test" name="testScript" value="{{.project.TestScript}}" type="text" class="border py-2 px-3">
    </div>
    <div class="flex flex-col mb-4">
      <label for="buildScript" class="mb-2 font-bold text-lg">构建脚本</label>
      <input value="yarn build" placeholder="yarn build" name="buildScript" value="{{.project.BuildScript}}" type="text" class="border py-2 px-3">
    </div>
    <div class="flex flex-col mb-4">
      <label for="distDir" class="mb-2 font-bold text-lg">静态文件目录</label>
      <input required name="distDir" value="{{.project.DistDir}}" type="text" class="border py-2 px-3">
    </div>
    <div class="flex flex-col mb-4">
      <label for="spa" class="mb-2 font-bold text-lg">是否是SPA项目</label>
      <input type="checkbox" name="spa" {{if .project.SPA}}checked{{end}} class="border py-2 px-3" value="1">
    </div>
    <div class="flex flex-col mb-4">
      <label for="branch" class="mb-2 font-bold text-lg">只构建指定分支</label>
      <input placeholder="develop" name="branch" value="{{.project.Branch}}" type="text" class="border py-2 px-3">
    </div>
    <div class="flex flex-col mb-4">
      <label for="tag" class="mb-2 font-bold text-lg">只构建打Tag的提交</label>
      <!-- <span>{{.project.Tag}}</span> -->
      <input type="checkbox" name="tag" {{if .project.Tag}}checked{{end}} class="border py-2 px-3" value="1">
    </div>
    <div class="flex flex-col mb-4">
      <label for="tagMatcher" class="mb-2 font-bold text-lg">Tag匹配规则</label>
      <input placeholder="^v" name="tagMatcher" value="{{.project.TagMatcher}}" type="text" class="border py-2 px-3">
    </div>
    <div class="flex flex-col mb-4">
      <label for="domain" class="mb-2 font-bold text-lg">域名地址</label>
      <input required placeholder="xxx.xxx.com" name="domain" value="{{.project.Domain}}" type="text" class="border py-2 px-3">
    </div>
    <div class="flex flex-col mb-4">
      <label class="mb-2 font-bold text-lg">rewrite规则</label>
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              From
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              To
            </th>
            <th scope="col" class="px-6 py-3 text-right">
              操作
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr>
            <td class="px-6 py-4">
              <input type="text" name="rewrites[0].from" class="w-full border py-1 px-3">
            </td>
            <td class="px-6 py-4">
              <input type="text" name="rewrites[0].to" class="w-full border py-1 px-3">
            </td>
            <td class="px-6 py-4 text-right text-sm font-medium">
              <a href="javascript(void:0)" class="text-blue-400 hover:text-blue-600">删除</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="block bg-blue-400 hover:bg-blue-600 text-white text-lg mx-auto px-3 py-2 rounded" type="submit">保存</button>
  </form>
{{end}}